@model IPagedList<SistemaControlMedico.Models.Pacientes>

@{
    ViewBag.Title = "LIstado Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc
@using PagedList
<h2>Index</h2>

<button>Imprimir</button>


<form action="Pacientes" , method="post">
    <b>Buscar Por: </b>
    <select name="buscarPor">
        <option value="" selected>Seleccione El filtro</option>
        <option value="SI">Paciente Asegurado</option>
        <option value="NO">No Asegurado</option>
    </select>

    <input type="text" name="busqueda">


    <input type="submit" value="BUSCAR">
    <input type="submit" value="LIMPIAR">
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().asegurado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asegurado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idPaciente }) |
                @Html.ActionLink("Details", "Details", new { id = item.idPaciente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPaciente })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Pacientes", new { i, buscar = Request.QueryString["buscar"] }))
