@model IPagedList<SistemaControlMedico.Models.Citas>

@{
    ViewBag.Title = "Listado Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using PagedList.Mvc;
@using PagedList;
<h2>Index</h2>

<button>Imprimir</button>

<form action="Citas" , method="post">
    <b>Buscar Por: </b>
    <select name="BuscarPor">
        <option value="" selected>Seleccione El filtro</option>
        <option value="Fecha">Fecha</option>
        <option value="Doctor">Doctor</option>
        <option value="Paciente">Paciente</option>

    </select>

    <input type="text" name="busqueda">
    <input type="submit" value="BUSCAR">
    <input type="submit" value="LIMPIAR">
</form>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Medicos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Pacientes.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Pacientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicos.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idCita }) |
                @Html.ActionLink("Details", "Details", new { id = item.idCita }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idCita })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Citas", new { i, buscar = Request.QueryString["buscar"] }))
