@model IEnumerable<SistemaControlMedico.Models.Ingresos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button>Imprimir</button>

<form action="Ingresos" , method="post">
    <input type="text" name="busqueda" placeholder="Ingrese la fecha o habitacion">
    <input type="submit" value="BUSCAR">
    <input type="submit" value="LIMPIAR">

</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Habitaciones.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicos.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idIngreso }) |
                @Html.ActionLink("Details", "Details", new { id = item.idIngreso }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idIngreso })
            </td>
        </tr>
    }

</table>
