@model IPagedList<SistemaControlMedico.Models.Ingresos>

@{
    ViewBag.Title = "Listado Ingresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Ingresos</h2>
<div>
    <div>
        <form action="Ingresos" method="post">
            <b>Buscar Por: </b>
            <select name="BuscarPor" class="form-control">
                <option value="" selected>Seleccione El filtro</option>
                <option value="Fecha">Fecha</option>
                <option value="Habitacion">Habitacion</option>
            </select><br>

            <input type="text" id="busqueda" name="busqueda" class="form-control" placeholder="Ingrese la Busqueda">
            <br>
            <div class="form-actions no-color">
                @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary" })
                <input type="submit" value="BUSCAR" class="btn btn-primary">
                <input type="submit" value="LIMPIAR" class="btn btn-primary">
                @Html.ActionLink("Exportar a PDF", "PDF", null, new { @class = "btn btn-primary" })
            </div>
            <hr>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().idIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Habitaciones.tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Medicos.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Pacientes.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Pacientes.cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().fechaIngreso)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habitaciones.tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medicos.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pacientes.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pacientes.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaIngreso)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.idIngreso }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Ver Detalles", "Details", new { id = item.idIngreso }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idIngreso }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr>
    <div>
        @Html.PagedListPager(Model, x => Url.Action("Index", "Ingresos", new { x, buscar = Request.QueryString["buscar"] }))
    </div>
</div>

 