@model IPagedList<SistemaControlMedico.Models.Habitaciones>

@{
    /**/

    ViewBag.Title = "Listado Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using PagedList.Mvc
@using PagedList
<button>Imprimir</button>

<form action="Habitaciones" , method="post">
    <b>Buscar Por: </b>
    <select name="BuscarPor">
        <option value="" selected>Seleccione El filtro</option>
        <option value="DOBLE">Doble</option>
        <option value="PRIVADA">Privada</option>
        <option value="SUITE">Suite</option>

    </select>

    <input type="submit" value="BUSCAR">
    <input type="submit" value="LIMPIAR">
</form>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().precioDia)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioDia)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idHabitacion }) |
                @Html.ActionLink("Details", "Details", new { id = item.idHabitacion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idHabitacion })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Habitaciones", new { i, buscar = Request.QueryString["buscar"] }))
