@model SistemaControlMedico.Models.Medicos

@{
    ViewBag.Title = "Eliminar Medicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Eliminar Medicos</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exequatur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exequatur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

    </dl>
    <hr>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
        <hr>
    </div>
</div>
