@model IEnumerable<SistemaControlMedico.Models.Medicos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button>Imprimir</button>

<form action="Medicos" , method="post">
    <input type="text" name="busqueda" placeholder="Ingrese el nombre o especialidad a buscar">
    <input type="submit" value="BUSCAR">
    <input type="submit" value="LIMPIAR">
</form>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exequatur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exequatur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idMedico }) |
                @Html.ActionLink("Details", "Details", new { id = item.idMedico }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idMedico })
            </td>
        </tr>
    }

</table>
