@model SistemaControlMedico.Models.Altas

@{
    ViewBag.Title = "Informacion Altas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Altas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingresos.idIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingresos.idIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAlta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
